body {
    background-image: url("vet.jpg");
    background-size: 100% 100%;
    margin: 0;
    font-family: Arial, sans-serif ;
    font-weight: 300;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    background: cadetblue  ;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    width: 170px;
    padding: 8px 0;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 60px;
    padding-top: 38px;

    position: relative;
}

nav ul li a {
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
}

nav a:hover{
    color: deepskyblue;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: darkslateblue;


    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 500ms;
}

nav a:hover::before {
    width: 100%;
}
h1{
color: black;
white-space: nowrap;
position: absolute;
top: 17%;
left: 70%;
transform: translate(-50%, -50%);
font-size: 50px;
font-family: sans-serif;
letter-spacing: 0.1em;
transition: 0.3s;
text-shadow: 1px 1px 0 blue, 1px 2px 0 blue, 1px 3px 0 cadetblue, 1px 4px 0 dodgerblue,
1px 5px 0 dodgerblue, 1px 6px 0 deepskyblue, 1px 7px 0 dodgerblue, 1px 8px 0 dodgerblue,
5px 13px 15px black;
}

h1:hover{
    transition: 0.3s;
    transform: scale(1.1)translate(-50%, -50%);
    text-shadow: 1px -1px 0 darkslateblue, 1px -2px 0 darkslateblue, 1px -3px 0 darkslateblue,
    1px -4px 0 darkslateblue, 1px -5px 0 darkslateblue, 1px -6px 0 darkslateblue, 1px -7px 0 darkslateblue,
    1px -8px 0 darkslateblue, 5px -13px 15px black, 5px -13px 25px darkslateblue;
}

.first{
display: inline-block;
    width: 215px;
    height: 170px;
    transition: transform .2s;
    padding: 10px;
    margin: 0 auto;
}
.first:hover{
    transform: scale(1.5);
}

.second{
    display: inline-block;
    width: 215px;
    height: 170px;
    padding: 10px;
    margin: 0 auto;
    transition: transform .2s;
}
.second:hover{
    transform: scale(1.5);
}

.third{
    display: inline-block;
    width: 215px;
    height: 170px;
    padding: 10px;
    margin: 0 auto;
    transition: transform .2s;
}
.third:hover{
    transform: scale(1.5);
}

.fourth{
    display: inline-block;
    width: 215px;
    height: 170px;
    padding: 10px;
    margin: 0 auto;
    transition: transform .2s;
}
.fourth:hover{
    transform: scale(1.5);
}

.fifth{
    display: inline-block;
    width: 215px;
    height: 170px;
    padding: 10px;
    margin: 0 auto;
    transition: transform .2s;
}
.fifth:hover{
    transform: scale(1.5);
}

h2{
position: absolute;
    top: 50%;
    left: 70%;
    font-size: 35px;
    font-family: "Harlow Solid Italic";
    color: darkblue;
    font-weight: bold;
    animation: glitch 1s linear infinite;
    text-shadow: 0 0 20vw dodgerblue;

}

@keyframes glitch{
    2%,64%{
        transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
        transform: translate(-2px,0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg);
    }
}

h2:before,
h2:after{
    content: attr(title);
    position: absolute;
    left: 0;
}

h2:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
    2%,64%{
        transform: translate(2px,-2px);
    }
    4%,60%{
        transform: translate(-2px,2px);
    }
    62%{
        transform: translate(13px,-1px) skew(-13deg);
    }
}

h2:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
    2%,64%{
        transform: translate(-2px,0);
    }
    4%,60%{
        transform: translate(-2px,0);
    }
    62%{
        transform: translate(-22px,5px) skew(21deg);
    }
}


h3{
    position: absolute;
    top: 55%;
    left: 70%;
    font-size: 35px;
    font-family: "Harlow Solid Italic";
    color: darkblue;
    font-weight: bold;
    animation: glitch 1s linear infinite;
    text-shadow: 0 0 20vw dodgerblue;

}

@keyframes glitch{
    2%,64%{
        transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
        transform: translate(-2px,0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg);
    }
}

h3:before,
h3:after{
    content: attr(title);
    position: absolute;
    left: 0;
}

h3:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
    2%,64%{
        transform: translate(2px,-2px);
    }
    4%,60%{
        transform: translate(-2px,2px);
    }
    62%{
        transform: translate(13px,-1px) skew(-13deg);
    }
}

h3:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
    2%,64%{
        transform: translate(-2px,0);
    }
    4%,60%{
        transform: translate(-2px,0);
    }
    62%{
        transform: translate(-22px,5px) skew(21deg);
    }
}
