<html>
<head>
<title>PuppyCare</title>
    <link rel="stylesheet" href="Najava.css">
</head>
<body>
<header>
    <div class="container">
        <img src="PuppyCare.png" alt="logo" class="logo">
        <nav>
            <ul>
                <li><a href="PuppyCare.html">Почетна</a></li>
                <li><a href="Posvojuvanje%20milenici.html">Миленици за посвојување</a></li>
                <li><a href="Pregled%20na%20veterinarni.html">Преглед на ветеринарни</a></li>
                <li><a href="Najava.html">Најава</a></li>

            </ul>
        </nav>
    </div>
</header>
<div class="login-page">
    <div class="form">
        <form class="register-form">
            <input type="text" id="username1" placeholder="user name"/>
            <input type="text" id= "password1" placeholder="password"/>
            <input type="text" id="email" placeholder="email"/>
            <button onclick="registered()">Create</button>
        <p class="message">Already Registered? <a href="#"> Login</a></p>
        </form>


        <form class="login-form">
            <input type="text"  id="username" placeholder="user name"/>
            <input type="text" id="password" placeholder="password"/>
            <button value="Log on" onclick="clicked()">login</button>
            <p class="message">Not Registered?<a href="#"> Register</a></p>
        </form>
    </div>
</div>
<script src="Najava.js"></script>
<script src="jquery-3.2.1.min.js"></script>
<script>
    $('.message a').click(function() {
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });

</script>
</body>
</html>