<html>
<head>
    <meta charset="UTF-8">

    <title>PuppyCare</title>
    <link rel="stylesheet" href="Posvojuvanje%20milenici.css">
</head>

<body>
<header>
    <div class="container">
        <img src="PuppyCare.png" alt="logo" class="logo">
        <nav>
            <ul>
                <li><a href="PuppyCare.html">Почетна</a></li>
                <li><a href="Posvojuvanje%20milenici.html">Миленици за посвојување</a></li>
                <li><a href="Pregled%20na%20veterinarni.html">Преглед на ветеринарни</a></li>
                <li><a href="Najava.html">Најава</a></li>

            </ul>
        </nav>
    </div>
</header>

<h1>МИЛЕНИЦИ ЗА ПОСВОЈУВАЊЕ</h1>
    <h2>Тел : +389 (0) 75 33 77 55</h2>
    <h3>E-mail: PyppyCare@gmail.com.mk</h3>


<div>
    <div class="slika1">
        <img src="1.jpg" alt="" class="first1">
        <div class="overlay1 overlay1Cross">
            <div class="text1">Анимал Медика</div>
        </div>
    </div>

    <div class="slika3">
        <img src="3.jpg" alt="" class="first3">
        <div class="overlay3 overlay3Cross">
            <div class="text3">Ветеринарна Клиника Д-р Марин Величковски</div>
        </div>
    </div>

    <div class="slika4">
        <img src="4.jpg" alt="" class="first4">
        <div class="overlay4 overlay4Cross">
            <div class="text4">Ветеринарна Болница Скопје</div>
        </div>
    </div>
</div>

<div>
    <div class="slika5">
        <img src="5.png" alt="" class="second5">
        <div class="overlay5 overlay5Cross">
            <div class="text5">Др Зоран Ветеринар</div>
        </div>
    </div>

    <div class="slika2">
        <img src="2.jpg" alt="" class="second2">
        <div class="overlay2 overlay2Cross">
            <div class="text2">Пет-Вет Аеродром</div>
        </div>
    </div>

    <div class="slika6">
        <img src="6.jpg" alt="" class="second6">
        <div class="overlay6 overlay6Cross">
            <div class="text6">Ветеринарен Центар</div>
        </div>
    </div>
</div>

<div>
    <div class="slika7">
        <img src="7.jpg" alt="" class="third7">
        <div class="overlay7 overlay7Cross">
            <div class="text7">Ветеринарна амбуланта Панда</div>
        </div>
    </div>

    <div class="slika8">
        <img src="8.jpg" alt="" class="third8">
        <div class="overlay8 overlay8Cross">
            <div class="text8">Ветеринарна Клиника Д-р Марин Величковски</div>
        </div>
    </div>

    <div class="slika9">
        <img src="9.jpg" alt="" class="third9">
        <div class="overlay9 overlay9Cross">
            <div class="text9">Ветеринарен Центар</div>
        </div>
    </div>
</div>

<div>
    <div class="slika10">
        <img src="10.jpg" alt="" class="fourth10">
        <div class="overlay10 overlay10Cross">
            <div class="text10">Пет-Вет</div>
        </div>
    </div>

    <div class="slika11">
        <img src="11.jpg" alt="" class="fourth11">
        <div class="overlay11 overlay11Cross">
            <div class="text11">Анимал Медика</div>
        </div>
    </div>

    <div class="slika12">
        <img src="12.jpg" alt="" class="fourth12">
        <div class="overlay12 overlay12Cross">
            <div class="text12">Ветеринарна амбуланта Панда</div>
        </div>
    </div>
</div>

<div>
    <div class="slika13">
        <img src="13.jpg" alt="" class="fifth13">
        <div class="overlay13 overlay13Cross">
            <div class="text13">Ветеринарна Болница Скопје</div>
        </div>
    </div>

    <div class="slika14">
        <img src="14.jpg" alt="" class="fifth14">
        <div class="overlay14 overlay14Cross">
            <div class="text14">Др Зоран Ветеринар</div>
        </div>
    </div>

    <div class="slika15">
        <img src="15.jpg" alt="" class="fifth15">
        <div class="overlay15 overlay15Cross">
            <div class="text15">Пет-Вет</div>
        </div>
    </div>
</div>


</body>

</html>